
/****** footer *****/

.bg-green{
  background: #6fc394;
}
.btn-defult.btn-white{
  background: #fff;
}
.bg-gray{
  background: #f3f3f3;
}
.text-theme{
  color: #6fc394;
}
.my-tab{
  position: relative;
  z-index: 999;
}
.my-tab-innr{
  position: relative;
  z-index: 999;
  background: rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 4px;
}
.my-tab .nav-tabs .nav-link{
  background: #6fc394;
  border-radius: 0;
  border: none;
  margin-right: 3px;
  color: #fff;
}
.my-tab .nav-tabs .nav-link.active{
  color: #6fc394;
  background: #fff;
}
.my-tab .nav-tabs{
  border: none;
}
.my-tab input{
  width: 100%;
  height: 45px;
  background: #ffffff;
  flex: 1;
  margin-right: 15px;
  border: none;
}

footer{
  background: #292929;
  color: #fff;
}
footer h4{
}
.ftr-prt-wth{
  width: 20%;
  margin-bottom: 15px;
}
.ftr-prt-wth ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.ftr-prt-wth ul li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
}
.ftr-prt-wth-warp{
  display: flex;
  flex-wrap: wrap;
}
.ftr-prt-wth-warp::after {
  display: block;
  content: '';
  clear: both;
}
.ftr-btn-lab{
  border-top: 1px solid #131313;
}
.FindAPlace{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.FindAPlace li{
  background: url("../image/right-arrow.png") no-repeat center left;
  padding-left: 18px;
  background-size: 12px auto;
}
.map img{
  width: 100%;
  height: auto;
}
.ferch-div{
  display: flex;
}
.ferch-div input{
  height: 45px;
  color: #d7d7d7;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin-right: 15px;
  flex: 1;
  padding: 5px 10px;
}
.crslImg{
  width: 100%;
}
.prof-img-src .img{
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.carousel-indicators{
  bottom: 0;
}
.prof-img-src-warp{
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.prof-img-src-warp .prof-img-txt{
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  margin-left: 20px;
  text-align: center;
}
.carousel-control-next, .carousel-control-prev{
  width: 40px;
}
.carousel-control-next-icon{
  opacity: 1;
  background: #fff url('../image/right-arrow.png') no-repeat center center;
  padding: 16px;
}
.carousel-control-next, .carousel-control-prev{
  opacity: 1;
}
.carousel-control-prev-icon{
  opacity: 1;
  background: #fff url('../image/left-arrow.png') no-repeat center center;
  padding: 16px;
}
.hed-hdr{
  height: 645px;
  background: url('../image/cover.png') no-repeat center center;
  background-size: cover;
}
.carousel-indicators li{
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.carousel-indicators li.active{
  background: #6FC394;
}
.hed-hdr-otr{
  height: 645px;
  position: relative;
}
.hed-hdr-otr-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.my-navbar.navbar{
  padding: 1.5rem 0rem;
}
/*@media only screen and (min-width: 998px) {
  .ftr-prt-wth{
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .ftr-prt-wth{
    width: 100%;
  }
}*/
.time-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.time-list li{
  color: #727272;
  font-size: 13px;
  margin-bottom: 5px;
}
.address-bdr{
  display: flex;
}
.address-bdr .value{
  margin-left: 10px;
}
.range-sldr{
  width: 90%;
}
.command-lst{
  padding: 0;
  margin: 0;
}
.command-lst li{
  display: flex;
  margin-bottom: 20px;
}
.command-lst .img{
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-size: cover;
  background-position: center;
}
.command-lst .txt{
  flex: 1;
}
.side-story{
  border: 1px solid #dadada;
  padding: 15px;
  border-radius: 4px;
}
.side-story-lst{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.side-story-lst li{
  display: flex;
  border-bottom: 1px solid #dadada;
  padding: 15px 0;
}
.side-story-lst li:last-child{
  border: none;
}
.side-story-lst li .img{
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}
.side-story-lst li .txt{
  flex: 1;
  margin-left: 10px;
}
.side-story-lst li .txt h5{
  font-size: 16px;
}
.side-story-lst li .txt p{
  font-size: 12px;
}
.ttl-hd{
  font-size: 20px;
  margin: 0;
}
.inr-hdr{
  border-bottom: 1px solid #dadada;
}
.inr-hdr .my-navbar.navbar{
  padding: 0.5rem 0rem;
  color: #5e5e5e;
}
.text-gray{
  color: #6a6a6a !important;
}
.src-input{
  max-width: 600px;
  margin: 0 auto;
}
.src-input input{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 0 10px;
}
.card{
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin-bottom: 10px;
}
.card .hdr{
  display: flex;
  padding: 5px;
}
.card .hdr .img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.card .hdr .love{
  width: 25px;
  font-size: 22px;
  color: #d6d6d6;
}
.card .hdr .txt{
  flex: 1;
  margin-left: 10px;
}
.card .hdr .txt h4{
  margin-bottom: 0;
  font-size: 20px;
}
.card .hdr .txt p{
  margin-bottom: 0;
}
.card .img-prt{
  height: 200px;
  background-size: cover;
  background-position: center;
}
.ftr-rtng{
  border-top: 1px solid #e7e7e7;
  display: flex;
  padding: 15px 10px;
  align-items: center;
}
.ftr-rtng .rate{
  font-size: 12px;
  margin-left: 5px;
  flex: 1;
}
.ftr-rtng .icn-hdr{
  color: #8d8d8d;
  padding: 0 5px;
}
.moreTxt a{
  color: #6fc394;
  display: inline-block;
  margin: 10px 0;
}
.moreTxt div{
  font-size: 14px;
}
.moreTxt{
  padding: 10px;
}
.card .btn-grp{
  padding: 15px 10px;
}
.img-warp img{
  width: 100%;
  height: 575px;
}
.img-warp{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.btn-google{
  margin-top: 23px;
  background-color: #DF4A32;
  background-position: left 12px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 400 !important;
  position: relative;
}
.btn-facebook{
  margin-top: 23px;
  background-color: #3B5997;
  background-position: left 12px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 400 !important;
  position: relative;
}
.hr-label::before {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.hr-label {
  clear: both;
  font-size: 13px;
  margin: 15px 0;
  padding: 0;
  position: relative;
  text-align: center;
}
.hr-label a, .hr-label .text {
  background-color: white;
  display: inline-block;
  font-size: 13px !important;
  line-height: 24px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  vertical-align: top;
}
.termsCondition{
  color: #717d82 !important;
  display: block !important;
  font-size: 12px !important;
  margin-bottom: 0 !important;
  margin-top: 12px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  text-align: left !important;
}

.profile-image {
  background-size: cover;
  border: 4px solid #fff;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: relative;
}
.profile-image span{
  background:#28a745;
  border-radius: 50%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #fff;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  left: 50%;
  bottom: -15px;
  cursor: pointer;
}
.profile-image input{
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #fff;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  left: 50%;
  bottom: -15px;
  cursor: pointer;
  opacity: 0;
}
.profile-name h4{
  color: #6FC394;
  font-size: 30px;
  margin-bottom: 0;
}
.profile-name h4 span{
  color: #616362;
  font-size: 20px;
}
.profile-name .loc{
  color: #6FC394;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
.profile-name .loc span{
  color: #616362;
}
.Rated{
  color: #febf00;
}
.hdr-sgn{
  font-size: 18px;
  margin-bottom: 20px;
}
.frnd-sgsn{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}
.frnd-sgsn .img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 50%;
}
.frnd-sgsn .close-sugg{
  background: #fff;
  color: #616362;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  position: absolute;
  corsor: pointer;
}

.tag-lst li{
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 0 8px;
}
.tag-lst{
  padding: 0;
}
.right-tag-hdr{
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.cat-lst{
  padding: 0;
  list-style-type: none;
}
.cat-lst li{
  display: flex;
  font-size: 14px;
}
.cat-lst li .name{
  flex: 1;
}
.hd-img img{
  width: 100%;
  height: 500px;
}
.res-loc i{
  color: #6FC394;
  margin-right: 8px;
}
.str-rated{
  color: #febf00;
  font-size: 16px;
}
.item-lst ul{
  margin: 0;
  padding: 0;
}
.item-lst ul li{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.item-lst ul li .img{
  height: 120px;
  width: 240px;
  background-size: cover;
  margin-right: 15px;
  background-position: center;
}
.item-lst ul li .txt{
  flex: 1;
}
.item-lst ul li .txt h4{
  margin-bottom: 15px;
}
.message.success {
    background: #5cb85c none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 10px;
    text-align: center;
}
.message.error {
  background: #fa693c none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 10px;
  text-align: center;
}
.profile-list{
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}
.profile-list li a{
  padding: 15px 10px;
  display: block;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #F3F3F3;
  transition: background 1.0s ease;
}
.profile-list li a.active,.profile-list li a:hover{
  background: #28a745;
  color: #fff;
}
select.form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url('../image/drop-down-arrow.png') no-repeat center right 15px;
  background-size: 11px auto;
}

.cstm-accordion .panel-title{
  font-size: 20px;
  background: #fff url('../image/faq.png') no-repeat center left;
  padding-left: 25px;
  background-size: 15px auto;
}
.cstm-accordion .panel-body p{
  margin-bottom: 5px;
}
.cstm-accordion .panel-body{
  margin-bottom: 15px;
}
.dispatch-other-text h2{
  font-size: 20px;
}
.cmsPage h3{
  font-size: 24px;
}
.dispatch-other-text ol{
  margin-bottom: 0;
}
.dispatch-other-text ol li{
  margin-bottom: 15px;
}
.manage-photo ul{ padding-left: 0px;
}
.manage-photo ul li{ list-style: none; margin-bottom: 20px;
}
.btnPart{ background: #28a745 !important; border: 1px solid #28a745;
}

.manage-photo .media-body.media-middle h4{ font-size: 20px;
}
.pagination li a{position: relative;
display: block;
padding: .5rem .75rem;
margin-left: -1px;
line-height: 1.25;
color: #007bff;
background-color: #fff;
border: 1px solid #ddd;
}
.company-images .fileUpload { width: 74%;
}

.manage-photo{ width:382px !important;
}
.pagination li.disabled a{color: #868e96;
pointer-events: none;
background-color: #fff;
border-color: #ddd;
}


/*******debkumar******/

.graybg-height{ height:800px;
}
.font-72{ font-size: 72px !important;
}
.detailsPart h3{ font-size: 18px; text-transform: uppercase;
}

.venuePart .text-field{ border-left:0px; border-right:0px; border-top:0px; border-bottom:1px solid #dcdcdc; border-radius:0px; padding: 5px 50px;}
.venuePart .text-field:focus{ outline: 0px !important;
}
.formpart{ background:#fff;
}

.formpart .form-group{ position: relative;
}
.formpart .form-group i{ position: absolute; top: 5px; left: 20px; font-size: 20px;
}
.tagPart{ padding-left:0px; border-bottom:1px solid #dcdcdc;
}
.tagPart li{ float: left; margin-right: 10px; list-style: none;
}
.tagPart li a{ color: #fff; background: #afadad; padding: 5px 20px; border-radius:6px;
}
.number{ position: absolute; bottom:-10px; right: 20px;
}

.iconName{ color:#acacac; font-size: 14px; text-transform: uppercase;
}
.rangePart{ background: #7ed38c;
}
.font-14{ font-size: 14px;
}
.font-16{ font-size: 16px;
}
.color-black{ color: #414141;
}


.bg-white{ background:#fff !important;
}
/*media Quary*/

@media only screen and (max-width: 992px) {
  .ftr-prt-wth{
    width: 33%;
  }
}
@media only screen and (max-width: 767px) {
  .ftr-prt-wth{
    width: 50%;
  }
  .hed-hdr-otr .navbar-brand img, .inr-hdr .navbar-brand img{
    height: 34px;
  }
  .hed-hdr-otr .nav-tabs .nav-item{
    width: 100%;
  }
  .my-tab .nav-tabs .nav-link{
    width: 100%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 576px) {
  .ftr-prt-wth{
    width: 100%;
  }
}
